listen_addresses = '*'
port = {{ pgport }}
wal_level = replica
archive_mode = on
archive_command = 'cp "%p" "{{ pgArchiveDir }}/%f"'
max_wal_senders = 10
max_replication_slots = 10
hot_standby = on
wal_log_hints = on
log_timezone = '{{ timezone }}'
timezone = '{{ timezone }}'

