---
- name: Remove firewalld
  yum:
    name:
      - firewalld
      - firewalld-filesystem
      - python-firewall
    state: absent


- name: Add repository Postgresql
  yum:
    name: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
    state: present

- name: install centos-release-scl-rh
  yum:
    name: centos-release-scl-rh
    state: present
      
- name:  Add repository Postgresql
  yum_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present


- name: Update repository after adding Postgresql repository
  yum:
    update_cache: yes

- name:  Install Postgresql 14
  yum:
    name: postgresql-14
    state: present

- name:  Disable postgresql service
  systemd:
    name: postgresql.service
    enabled: no

- name:  Disable postgresql@14-main service
  systemd:
    name: postgresql@14-main.service
    enabled: no

- name: Stop postgresql-14 service
  systemd:
    name: postgresql@14-main.service
    state: stopped

# home_directory/tasks/main.yml

- name: Remove /var/lib/postgresql/14 directory
  file:
    path: /var/lib/postgresql/14
    state: absent

- name: Remove /etc/postgresql/14 directory
  file:
    path: /etc/postgresql/14
    state: absent

#- name: Create /postgresql directory
#  file:
#    path: /postgresql
#    state: directory
#    owner: postgres
#    group: postgres
#    mode: '0755'

- name: Create /archive directory
  file:
    path: /postgresql/archive
    state: directory
    owner: postgres
    group: postgres
    mode: '0755'    

#- name: Update home directory for postgres user
#  command:
#    cmd: usermod -d /postgresql postgres
#  become: true

- name: Update postgres user password
  user:
    name: postgres
    password: "{{ postgres_os_password }}"  # The new password you want to set
  register: user_updated

- name: >-
    Add postgres user to sudoers. thanks to the community.general.sudoers module, 
    that is part of the "community.general collection", version 7.5.0, installed
    with the ansible package, if only ansible-core is present, then the collection needs
    to be installed with "ansible-galaxy collection install community.general"
  community.general.sudoers:
    name: postgres-sudoers
    user: postgres
    commands: ALL



