---
- name: Remove firewalld
  yum:
    name:
      - firewalld
      - firewalld-filesystem
      - python-firewall
    state: absent

- name: Download the PostgreSQL repo RPM
  get_url:
    url: https://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    dest: /tmp/pgdg-redhat-repo-latest.noarch.rpm

- name: Install the PostgreSQL repo
  yum:
    name: /tmp/pgdg-redhat-repo-latest.noarch.rpm
    state: present

- name: Create /archive directory
  file:
    path: /postgresql/archive
    state: directory
    owner: postgres
    group: postgres
    mode: '0755'


- name:  Install Postgresql 14
  yum:
    name: postgresql14-server
    state: present


- name: Update postgres user password
  user:
    name: postgres
    password: "{{ postgres_os_password }}"  # The new password you want to set
  register: user_updated

- name: >-
    Add postgres user to sudoers. thanks to the community.general.sudoers module, 
    that is part of the "community.general collection", version 7.5.0, installed
    with the ansible package, if only ansible-core is present, then the collection needs
    to be installed with "ansible-galaxy collection install community.general"
  community.general.sudoers:
    name: postgres-sudoers
    user: postgres
    commands: ALL



