---
- name: Remove firewalld
  yum:
    name:
      - firewalld
      - firewalld-filesystem
      - python-firewall
    state: absent


- name: Add PostgreSQL 14 repository
  yum_repository:
    name: PostgreSQL 14
    description: PostgreSQL 14 Yum Repository
    baseurl: hhttps://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm
    gpgcheck: yes
    gpgkey: https://download.postgresql.org/pub/repos/yum/RPM-GPG-KEY-PGDG-14


- name:  Install Postgresql 14
  yum:
    name: postgresql14-server
    state: present

# systemctl list-units --type=service

- name: Stop postgresql-14 service
  systemd:
    name: postgresql-14
    state: stopped

# home_directory/tasks/main.yml

- name: Remove /var/lib/postgresql/14 directory
  file:
    path: /var/lib/postgresql/14
    state: absent

- name: Remove /etc/postgresql/14 directory
  file:
    path: /etc/postgresql/14
    state: absent

#- name: Create /postgresql directory
#  file:
#    path: /postgresql
#    state: directory
#    owner: postgres
#    group: postgres
#    mode: '0755'

- name: Create /archive directory
  file:
    path: /postgresql/archive
    state: directory
    owner: postgres
    group: postgres
    mode: '0755'    

#- name: Update home directory for postgres user
#  command:
#    cmd: usermod -d /postgresql postgres
#  become: true

- name: Update postgres user password
  user:
    name: postgres
    password: "{{ postgres_os_password }}"  # The new password you want to set
  register: user_updated

- name: >-
    Add postgres user to sudoers. thanks to the community.general.sudoers module, 
    that is part of the "community.general collection", version 7.5.0, installed
    with the ansible package, if only ansible-core is present, then the collection needs
    to be installed with "ansible-galaxy collection install community.general"
  community.general.sudoers:
    name: postgres-sudoers
    user: postgres
    commands: ALL



