---

- name: Add hostnames and IPs to /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "{{ hostvars[item].ansible_host }} {{ hostvars[item].inventory_hostname }}"
    insertbefore: '^#.*{{ item }}$'
  loop: "{{ groups['standby'] }}"