---

- name: Install pgpool repo online
  yum:
    name: "https://www.pgpool.net/yum/rpms/4.3/redhat/rhel-7-x86_64/pgpool-II-release-4.3-1.noarch.rpm"
    disable_gpg_check: yes
    state: present


- name: Install pgpool-II-pg13-extensions
  yum:
    name: pgpool-II-pg14-extensions
    disable_gpg_check: yes
    state: present

- name:  Install pgpool dependencies
  yum:
    name:
      - net-tools
      - arping
    state: present

### ????????
-
- name: Enable pgpool-II service
  systemd:
    name: pgpool-II.service
    enabled: yes

- name:  Stop pgpool-II service
  systemd:
    name: pgpool-II.service
    state: stopped

