standby_mode = 'on'
primary_conninfo = 'application_name=slave1 user=repl passfile=''/var/lib/pgsql/14/.pgpass'' host=postgres3.local port=5432 sslmode=disable sslcompression=1 target_session_attrs=any'